<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form layui-card" data-table-id="UserTable">
    <div class="layui-card-body padding-left-40">

        <fieldset class="layui-bg-gray">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs5">
                    <label class="block relative">
                        <span class="help-label"><b>Equipment Name</b></span>
                    </label>
                    {if $is_master == 1}
                    <select lay-search="" name="equipment_id" lay-verify="required">
                        <option value="">请选择或搜索</option>
                        {volist name='equipments' id='item'}
                        <option value="{$item.id}">{$item.equipment_name}</option>
                        {/volist}
                    </select>
                    {else}
                    <select lay-search="" name="equipment_id" lay-verify="required">
                        {volist name='equipments' id='item'}
                        <option value="{$item.id}">{$item.equipment_name}</option>
                        {/volist}
                    </select>
                    {/if}
                </div>

            </div>
            <div class="layui-row layui-col-space15">
                <div class="layui-col-xs5">
                    <label class="block relative">
                        <span class="help-label"><b>Recharge Tel</b></span>
                    </label>
                    <input name="recharge_tel" maxlength="12" value='{$vo.recharge_tel|default=""}' required  placeholder="请输入内容" class="layui-input">
                </div>
                <div class="layui-col-xs5">
                    <label class="block relative">
                        <span class="help-label"><b>Amount</b></span>
                    </label>
                    <input name="amount" value='{$vo.amount|default=""}' required  placeholder="请输入内容" class="layui-input">
                </div>
            </div>
        </fieldset>
    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='id'}<input type='hidden' value='{$id}' name='id'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>{:lang('保存数据')}</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="{:lang('确定要取消编辑吗？')}" data-close>{:lang('取消编辑')}</button>
    </div>
</form>